<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="Vista%20de%20t%C3%A9cnico_files/main.css">
        

  <title> Vista de técnico </title>
<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/Archerd6/Aplicacion-robots-asistenciales-Web/main/Documentos%20del%20proyecto/Logo.png">

  <link rel="stylesheet" href="Vista%20de%20t%C3%A9cnico_files/css.css">
</head>



    
    <body>
        

<a style="float:right" href="index.html">Cerrar sesión</a>

  <h1 class="principal" style="text-align:center"> Vista de técnico Artemisa</h1>


<div class="inline-div-izquierda">

  <h1 class="Copper">Tareas</h1>
  <center>

    <table>
      <thead>
        <tr>
            <th> Tarea</th>
            <th> Id </th>
            <th> Modificar </th>
        </tr>
      </thead>

      
        
      
        
          <tbody><tr>
            <td> Limpiar Habitacion</td> 
            <td> 1 </td>
            <td> <button type="button" class="button3" onclick="window.location.href='/update/2';">🛠️</button> </td>
         
          </tr>
        
      
        
          <tr>
            <td> VideoLlamada</td> 
            <td> 2 </td>
            <td> <button type="button" class="button3" onclick="window.location.href='/update/3';">🛠️</button> </td>
         
          </tr>
        
      
        
          <tr>
            <td> Llevar Herramientas</td> 
            <td> 3 </td>
            <td> <button type="button" class="button3" onclick="window.location.href='/update/4';">🛠️</button> </td>
         
          </tr>
        
      
      </tbody></table>

  </center>
</div>

<div class="inline-div-izquierda2">
  <br> <br> <br> <br> <br>
  &nbsp;
  <button type="button" class="button3" onclick="window.location.href='/new_update/4';">+</button>
  <button type="button" class="button4" onclick="window.location.href='/delete';">-</button>

 <br> &nbsp;
  Tareas:
  <a id="clicks">3</a> <br>
</div>

<center>
  <div class="inline-div-derecha">
    <h1 class="Copper"> Robots</h1>

    <button type="button" class="button3" onclick="window.location.href='/nuevo_robot';">+</button>
    <button type="button" class="button4" onclick="window.location.href='/delete_robot';">-</button>

    <br>

    <table>
      <thead>
        <tr>
            <th> Robot</th>
            <th> Id </th>
    
        </tr>
      </thead>
      
      
      
      
          <tbody><tr>
            <td> Roborock</td> 
            <td> 1 </td>
         
          </tr>
        
      
      
          <tr>
            <td> Wally</td> 
            <td> 2 </td>
         
          </tr>
        
      
      
          <tr>
            <td> Wally</td> 
            <td> 3 </td>
         
          </tr>
        
      
      
          <tr>
            <td> Roborock</td> 
            <td> 4 </td>
         
          </tr>
        
      
      
          <tr>
            <td> Solac</td> 
            <td> 5 </td>
         
          </tr>
        
      
      </tbody></table>


  </div>

  
 

  <br>
  <br>
</center>


<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<center>
  <button id="boton2" class="button2" onclick="window.location.href='Interfaz_tecnico.htm';">Reset</button>
</center>

  
    
    
</body></html>